*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;
  background-color: gainsboro;
}

h1 {
  font-size: 28px;
}

h5 {
  font-size: 0.9em;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: black;
}

.fa-brands,
.fa-solid,
.fa-regular {
  margin-left: 16px;
  margin-right: 16px;
}

.container {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
}

.sidebar {
  background-color: lightseagreen;
  grid-area: 1 / 1 / 3 / 2;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding-right: 20px;
}

.logo .fa-accusoft {
  font-size: 32px;
}

.links {
  padding: 8px;
  font-size: 16px;
  font-weight: 900;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.links:hover {
  transform: scale(1.02);
  text-decoration: underline;
}

.main-links,
.last-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  background-color: aliceblue;
  grid-area: 1 / 2 / 2 / 3;
  padding: 20px 48px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
}

.fa-magnifying-glass {
  font-size: 20px;
}

.search-bar {
  width: 75%;
  height: 32px;
  background-color: gainsboro;
  border: none;
  border-radius: 32px;
  margin-left: 8px;
  font-size: 20px;
  padding: 8px;
}

.profile {
  display: flex;
  gap: 40px;
  white-space: nowrap;
  align-items: center;
  letter-spacing: -2px;
}

.fa-bell {
  font-size: 24px;
  cursor: pointer;
}

.small-img {
  height: 48px;
  cursor: pointer;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-left: 20px;
}

.big-img {
  height: 72px;
}

.welcome-mssg {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons ul {
  display: flex;
  gap: 40px;
}

.buttons ul li {
  background-color: lightseagreen;
  padding: 0.65rem 2rem;
  color: aliceblue;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(14, 78, 75);
  color: rgb(255, 255, 255);
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
  margin: 25px 20px 60px 30px;
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
}

.main-content h2 {
  font-weight: 600;
  margin-bottom: 10px;
}

.title-1 {
  grid-area: 1 / 1 / 3 / 2;
}

.title-2 {
  grid-area: 1 / 2 / 2 / 3;
  margin-left: 32px;
}

.title-3 {
  grid-area: 2 / 2 / 3 / 3;
  margin-left: 32px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 35px;
}

.projects h2 {
  display: block;
}

.cards {
  background-color: #ffffff;
  border-radius: 10px;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 1px 1px 2px 2.5px darkgrey;
  padding: 30px 20px;
}

.main-cards {
  height: 210px;
  border-left: 12px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-size: 21px;
}

.card-icons a {
  cursor: pointer;
  transition: all 0.05s ease-in-out;
}

.card-icons a:hover {
  transform: scale(1.225);
}

.announcements {
  height: 80%;
}

.side-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.announcement p {
  font-size: 0.8rem;
}

.smaller-img {
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.bar {
  height: 1px;
  background-color: #ccc;
}

.trending {
  height: 89%;
}

.users {
  display: flex;
  gap: 20px;
}

.dark {
  font-weight: 600;
}

.last-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
